<li>
	{{name}}

	<button class="change-select" data-id="{{id}}" data-newselect="{{select}}">
		{{#if select}}SELECTED!{{else}}SELECT ONE{{/if}}
	</button>

	<button class="delete-feeling" data-id="{{this.id}}">DELETE!</button>
</li>
